body{
    background-image: url("../images/bg.jpg");
}

h1 {
    text-decoration: underline;
    color: white;
}

.block {
    width: 800px;
    height: 375px;
    background-color: #ffcbea;
    position: absolute;
    left: 1100px;
    border: double 4px;
}

h2 {
    color: blue;
    text-align: center;
    padding-top: 10px;
}

#text-red {
    color: red;
    font-size: 17px;
    margin-left: 10px;
}

#bigger {
    margin-left: 10px;
    font-size: 20px;
}