.main-container {
    margin-left: 675px;
    margin-top: 300px;
    width: 580px;
    height: 300px;
    background-color: #171c1c;
    border: solid 4px gold;
    border-radius: 5px;
}

.main-container input {
    margin-top: 50px;
    width: 200px;
    height: 30px;
    margin-left: 50px;
    text-indent: 5px;
    border: solid 3px gold;
    border-radius: 5px;
}

.operation-container {
    margin-left: 50px;
}

.operation-container button {
    margin-left: 30px;
    margin-top: 30px;
    height: 35px;
    width: 50px;
    border: solid 3px silver;
    border-radius: 5px;
    background-color: #a42424;
    font-size: 20px;
    color: silver;
}

.result-container {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
    text-align: center;
    padding-top: 10px;
    border: solid 3px gold;
    background-color: white;
    font-size: 20px;
}