header {
    margin-left: 50px;
    padding: 40px;
    height: 80%;
    font-size: 25px;
    font-weight: 700;
}

.table1{
    display: inline;
    margin-left: 500px;
    font-size: 20px;
}

.td1 {
    font-size: 20px;
    padding-left: 20px;
}

.try-b {
    margin-left: 20px;
    cursor: pointer;
    color: white;
    background-color: blue;
    font-size: 14px;
    border-radius: 7px 7px 7px 7px;
    border: solid blue;
    width: 150px;
    height: 40px;
}

.pur-n {
    margin-left: 20px;
    cursor: pointer;
    color: blue;
    background-color: white;
    font-size: 14px;
    border-radius: 7px 7px 7px 7px;
    width: 150px;
    height: 40px;
    border: solid blue;
}


.main {
    margin-left: 50px;
    background-image: url("../images/background-new.jpg");
    background-size: cover;
    width: 1800px;
    height: 85vh;
    background-repeat: no-repeat;
}

.form {
    color: #00006e;
    font-size: 50px;

}

.table2{
    display: inline;
    font-size: 20px;
    margin-left: 85px;
    color: red;
    font-weight: 1000;
}

.space {
    margin-top: 50px;
}

.td2 {
    font-size: 20px;
    padding-left: 100px;
}

.text {
    color: black;
    font-weight: 400;
    width: 500px;
}

footer {
    margin-top: 20px;
    margin-left: 50px;
    background-color: #bebebe;
    width: 1800px;
    height: 100px;
    font-size: 18px;
}

footer div {
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 400px;
    height: 300px;
    padding-left: 70px;
}

a {
    text-decoration: none;
    color: black;
}



