@font-face {
    font-family: Arial, sans-serif;
}

.empty-place {
    background-color: #a4a4a4;
}

.header1 {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#3b3838, #2c1f1f);
    font-family: Arial, sans-serif;
}

.header-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.header1 h1 {
    display: inline-block;
    font-weight: 600;
    color: #a4a4a4;
}

.red-first {
    color: #bd3838;
}

.header-text {
    margin-top: -1.5%;
    color: #a4a4a4;
    font-weight: 600;
}

.header-search {
    display: inline-block;
    margin-left: 60%;
}

.header-search input {
    height: 40px;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #bd3838;
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 17px;
    margin-left: 50%;
    color: #dcdcdc;
}

.header-search button {
    height: 45px;
    width: 50px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: 86%;
    top: 3.2%;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-color: #bd3838;
    background-position-x: 50%;
    background-position-y: 50%;
    cursor: pointer;
}

.main {
    background-color: #dcdcdc;
    height: 180vh;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-bubble {
    width: 100%;
    height: 100%;
}

.img-bubble-text {
    width: 40%;
    height: 30%;
    position: absolute;
    top: 15%;
    left: 13%;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #a4a4a4;
}

.img-bubble-text2 {
    margin-top: -3%;
    color: #1f1f1f;
    font-size: 19px;
}

.img-bubble-text3{
    font-size: 19px;
}

.img-bubble-text4 {
    margin-top: 2%;
    font-weight: 400;
    line-height: 25px;
    color: #e8e8e8;
}

.nav1 {
    margin-top: -4px;
    background-color: #bd3838;
    height: 50px;
}

.nav1 table {
    margin-left: 25%;
}

.nav1 td {
    padding-top: 10px;
    padding-left: 90px;
}

.nav1 a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 19px;
}

.nav2 {
    height: 25px;
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    color: #6b6b6b;
}

.nav2-text {
    padding-top: 2px;
    margin-left: 2%;
}

.nav2-text a {
    color: #bd3838;
}

.main-container {
    background-color: white;
    width: 100%;
    height: 1500px;

}

.aside-container {
    display: inline-block;
    margin-left: 2%;
    width: 22%;
    height: 95%;
    position: relative;
    top: 1%;
}

.article-container {
    display: inline-block;
    margin-left: 2%;
    width: 72%;
    height: 95%;
    /*position: relative;*/
    /*top: -41%;*/
    font-family: Arial, sans-serif;
    line-height: 30px;

}

.first-aside {
    width: 100%;
    height: 40%;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
    border: 1px solid #9d9d9d;
    border-top: none;
}

.first-aside hr {
    margin-top: 5%;
}

.first-aside h2 {
    padding-top: 5%;
    padding-left: 5%;
}

.first-aside form {
    margin-left: 5%;
}

.first-aside input {
    display: block;
    margin-top: 5%;
    width: 90%;
    height: 35px;
    border-radius: 7px;
    background-color: #dadada;
    text-indent: 10px;
    font-size: 16px;
}

.first-aside select {
    display: block;
    margin-top: 5%;
    width: 92%;
    height: 45px;
    border-radius: 7px;
    background-color: #dadada;
    text-indent: 10px;
    font-size: 16px;
}

.first-aside button {
    display: block;
    margin-top: 10%;
    width: 80%;
    height: 45px;
    background-color: #bd3838;
    font-size: 17px;
    color: white;
    outline: 6px solid white;
    margin-left: 5%;
    cursor: pointer;
}

.article-container h2 {
    color: #a4a4a4;
    font-size: 30px;
}

.article-container a {
    color: #bd3838;
}

.table-images {
    font-size: 19px;
}

.table-images img {
    width: 320px;
    height: 220px;
}

.table-images th {
    text-align: left;
    padding-left: 1%;
}

.list {
    display: inline-block;
    width: 32%;
    height: 35%;
}

.list h3 {
    color: #575757;
}

.list h3 span {
    background-color: #c4c2c2;
    border-radius: 4px;
}

.list-left {
    position: relative;
    top: -2%;
}

.list-center {
    position: relative;
    top: -2%;
}

.list-right {
    position: relative;
    top: -8%;
}

.list-left ul {
    margin-top: -5%;
}

.list-center div {
    margin-top: -5%;
}

.list-center ul {
    margin-top: 0;
}

.list-right ol {
    margin-top: -5%;
}

.space-left {
    margin-left: 7%;
}

.reduce-space-above {
    margin-top: -25%;
}

.main-table {
    border-collapse: collapse;
    width: 90%;
}

.main-table th {
    background-color: #dc4f4f;
    border: solid 1px white;
    text-align: center;
    color: white;
}

.main-table td {
    background-color: #2c1f1f;
    color: #c7c7c7;
    border: solid 1px white;
    text-indent: 20px;
}

.main-table-col1 {
    padding: 5px 15px;
}

.radius1 {
    border-radius: 6px 0 0 0;
}

.radius2 {
    border-radius: 0 6px 0 0;
}

.radius3 {
    border-radius: 0 0 6px 0;
}

.radius4 {
    border-radius: 0 0 0 6px;
}

.second-aside {
    padding-top: 5%;
    font-family: Arial, sans-serif;
}

.second-aside p {
    margin-top: -3%;
    line-height: 30px;
}

.second-aside a {
    color: #bd3838;
}

.footer-line {
    background-color: #bd3838;
    height: 20px;
    width: 100%;
}

.footer-container {
    background-color: #3f3d3d;
    height: 300px;
    width: 100%;
}

.footer-container div {
    display: inline-block;
    height: 280px;
    width: 370px;
    margin-top: 10px;
    margin-left: 190px;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
}

.footer-container h2 {
    font-weight: 500;
}

.footer-container hr {
    border: solid 1px #505050;
}

.footer-container-li-left {
    line-height: 25px;
    list-style-image: url("../images/time.svg");
}

.footer-container-li-center {
    line-height: 25px;
}

.footer-container-center1 {
    font-size: 18px;
    color: #e8e8e8;
}

.footer-container-li-right {
    line-height: 25px;
    list-style-type: none;
}

.footer-container-li-right a {
    color: #e06969;
}

.footer-container-left {
    position: relative;
    top: -20%;
}

.footer-container-center {
    position: relative;

}

.footer-container-right {
    position: relative;
    top: -4%;
}











